.card {
    background: #fff;
    border-radius: 2px;
    height: 300px;
    margin-top: 5%;
    margin-bottom: 2%;
    position: relative;
    width: 350px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: center;
  }

  span {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
  }
  .card > .img-container {
    height: 100%;
    text-align: center;
    background:#6CADDC;
    padding-top: 25px;
    overflow: hidden;
  }
  .card > .img-container > img {
    width: 80%;
    height: 75%;
    padding-top: 10px;
  }

  .d-inline-flex {
    margin-left: 5%;
  }

  